*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    font-family: 'Roboto',sans-serif;

}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{font-size: 3.5em;max-width: 1400px;margin: auto;text-align: center; color: rgb(93, 217, 255);}
h2{font-size: 2em; max-width: 1400px;margin: auto;text-align: center;color: rgb(255, 60, 129);}
h4{font-size: 1.2em; max-width: 1400px;margin: auto;text-align: center;color: aliceblue;}
p,#links{font-size: 1.5em; max-width: 1400px;margin: auto;text-align: center;color: aliceblue;}

a{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 10px;
    color: rgb(244, 255, 37);
}


